# This is a basic workflow to help you get started with Actions

name: Make plot

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  repository_dispatch:
  schedule:
    - cron:  '*/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Setup python
        uses: actions/setup-python@v2
        
      - uses: actions/cache@v2
        name: Configure pip caching
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            
      - name: Install Python dependencies
        run: |
          python -m pip install -r requirements.txt
          
      - name: Execute notebook
        run: jupyter nbconvert --execute LA_County_Triggers.ipynb
      
      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git status
          git add plots/graph.png requirements.txt
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push

      - name: Clean up
        run: rm us-counties.csv LA_County_Triggers.html
